body {
  background-color: #90BEDE;
  font-family: Muli, sans-serif;
  font-weight: bold;
  color: #779CB7;
  margin-top: 30px;
}

h1 {
  text-align: center;
  font-size: 60px;
  color: #477998;
}

.hidden {
  display: none;
}

/* first screen */

#choice {
  font-size: 60px;
  color: #F3E8EE;
}

a {
  text-decoration: none;
}

#x, #o {
  color: #FF5E5B;
  font-weight: bold;
}

/* board */

#container {
  text-align: center;
  margin: 0 auto;
  width: 420px;
  height: 420px;
  position: relative;
}

#board {
  position: absolute;
  width: 420px;
  height: 420px;
  border-collapse: collapse;
  border: 11px solid #90BEDE;
}

td {
  border: 10px solid #779CB7;
  width: 120px;
  height: 120px;
  cursor: pointer;
  font-size: 70px;
  color: #F3E8EE;
  font-weight: bold;
  text-align: center;
}

/* final screen */

#winner {
  font-size: 55px;
  color: #F3E8EE;
  margin-top: -15px;
}

#new-game {
  font-size: 55px;
  color: #FF5E5B;
}

/* footer */
footer {
  text-align: center;
  color: #477998;
  margin-top: 40px;
}

footer a {
  color: #F3E8EE;
}
